body {
  background-color: white;
}
h1 {
  color: white;
  text-align: left;
  padding: 25px 25px 25px 25px;
  background-color: darkred;
}
p {
  color: black;
  text-align: left;
  width: 1000px;
  padding: 25px 25px 25px 25px;
}

b {
  padding: 25px 25px 25px 25px;
}
img {
  padding: 25px 25px 25px 25px;
}
